.login-card .form-group{
 margin-bottom: 1.5rem;
}
.loginText {
    cursor: pointer;
    color: #00b9ff;
    font-weight: 600;
    letter-spacing: 0;
    text-decoration: underline;
    background-color: transparent;
    font-size: 1rem;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.register-header{
    margin-bottom: 30px;
}
.register-header h2{
    text-align: center;
    margin-bottom: 2px;
    font-size: 1.68rem;
    line-height: 1.36;
    color: #ff527a;
    font-weight: 600;
    letter-spacing: 0;
}
.textSmall{
    color: #6f8691;
    font-size: 1rem;
    line-height: 1.5;
}
.loginText-row{
    display: block;
}
.btn-block{
    display: block;
    width: 100%;
}

.side-banner {
    position: fixed;
    width: 45.666667%;
    height: 100%;
    opacity: 0;
}
.side-image {
    /* background: url(../images/piggyBank.png) center right/cover no-repeat; */
    left: 0;
    transform: translate(-500px);
    transition: all .3s ease-out;



}

.registerForm .form-group{
    margin-bottom: 1.5rem;
}

.social-register-container {
    padding-top: 12px;
  
}
.social-button-register {
    display: inline-block;

}
.social-button-register>.btn {
    vertical-align: unset;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    border-left: 0;
    min-height: 0;
    padding: 0;
}
.social-register-container span{
    color: #6f8691; 
}
.btn-link, .btn-link span{
    color: #00b9ff;
    text-decoration: underline;
    border-color: transparent;
}






/* Responsive css */

@media (min-width: 1200px){
.col-xl-push-3 {
    left: 25% !important;
}
.col-xl-pull-3 {
    right: 25%;
}
.col-xl-6 {
    width: 50%;
}
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
}

}

@media (min-width: 992px){
.side-banner {
    opacity: 1;
    transform: translate(0);
    transition: all .5s ease-out;
}
.side-image {
    background: url(../images/piggyBank.png) center right/cover no-repeat;
    width: 46.666667%;
}
.col-lg-push-5 {
    left: 41.66666667%;
}
.col-lg-7 {
    width: 58.33333333%;
}
col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
}

}